---
/**
 * Renders the global Brand (header) for the website.
 *
 * @summary Global brand component.
 * @author Amrit Kaur Singh
 */
import { Image } from 'astro:assets'

import Logo from '../../assets/logo.svg'
import { SITE_PAGES } from '../../SiteMetadata'

interface Props {
  textColor?: string
}

const { textColor = 'text-black' } = Astro.props
---

<a
  href={SITE_PAGES.HOME}
  class={`
    group flex items-center space-x-3 no-underline transition-opacity
    hover:opacity-90
    ${textColor}
  `}
>
  <div
    class="
      relative flex items-center justify-center rounded-full bg-white/10 p-1
      backdrop-blur-sm
    "
  >
    <Image
      src={Logo}
      alt="Sakyadhita Logo"
      class="
        size-10 transition-transform
        group-hover:scale-110
        md:size-12
      "
    />
  </div>
  <div class="flex flex-col leading-tight">
    <span class="
      font-heading text-xl font-bold tracking-tight italic
      md:text-2xl
    ">
      sakyadhita
    </span>
    <span
      class="
        hidden font-body text-[10px] font-medium tracking-[0.2em] uppercase
        opacity-80
        md:block
      "
    >
      International Association
    </span>
  </div>
</a>
