---
import LotusHeader from '../assets/Lotus_Header.png'
import SectionHeader from '../components/SectionHeader.astro'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <div class="sm:hidden">
    <SectionHeader title="404 - Invalid Page" image={LotusHeader} heightClass="min-h-80" />
  </div>
  <div class="
    hidden
    sm:block
  ">
    <SectionHeader title="404" text="Page Not Found" image={LotusHeader} />
  </div>
</PageLayout>
