---
import { getCollection } from 'astro:content'
import { marked } from 'marked'

import ConferenceDesktop from '../components/Conference/ConferenceDesktop.astro'
import MobileConference from '../components/Conference/MobileConference.astro'
import PageLayout from '../layouts/PageLayout.astro'
import { getAssetUrl } from '../lib/images'

const conferencesRaw = await getCollection('conference')
const conferences = await Promise.all(
  conferencesRaw.map(async (c) => {
    const htmlBody = await marked.parse(c.body || '')

    const resolveList = (list?: { description: string; url: string | null }[]) =>
      list ? list.map((i) => ({ ...i, url: getAssetUrl(i.url) })) : undefined

    return {
      ...c,
      data: {
        ...c.data,
        optimizedImages: c.data.slideShowImages || null,
        htmlBody,
        brochures: resolveList(c.data.brochures),
        programs: resolveList(c.data.programs),
        abstracts: resolveList(c.data.abstracts),
        presentations: resolveList(c.data.presentations)
      }
    }
  })
)
const data = conferences.toReversed()
---

<PageLayout>
  <div class="
    hidden
    lg:block
  ">
    <ConferenceDesktop data={data} />
  </div>
  <div class="
    block
    lg:hidden
  ">
    <MobileConference data={data} />
  </div>
</PageLayout>
