---
import { getCollection } from 'astro:content'

import ConferenceDesktop from '../components/ConferenceDesktop.astro'
import MobileConference from '../components/ConferenceMobile.astro'
import PageLayout from '../layouts/PageLayout.astro'

const conferencesRaw = await getCollection('conference')
const data = conferencesRaw.toReversed()
---

<PageLayout>
  <div class="
    hidden
    lg:block
  ">
    <ConferenceDesktop data={data} />
  </div>
  <div class="
    block
    lg:hidden
  ">
    <MobileConference data={data} />
  </div>
</PageLayout>
