---
import LotusHeader from '../assets/Lotus_Header.png'
import ResourcesNavBar from '../components/Main/ResourcesNavBar.astro'
import ResourcesHeader from '../components/ResourcesLanding/ResourcesLandingPageHeader.astro'
import PageLayout from '../layouts/PageLayout.astro'

const frontmatter = {
  title: 'Sakyadhita Resources',
  description: 'All information related and central to Sakyadhita.',
  image: LotusHeader
}
---

<PageLayout hideFooter={true}>
  <ResourcesNavBar>
    <div class="w-full">
      <ResourcesHeader
        image={frontmatter.image}
        title={frontmatter.title}
        text={frontmatter.description}
        height="calc(100vh - 128px)"
        width="100%"
      />
    </div>
    <slot />
  </ResourcesNavBar>
</PageLayout>
