---
import { getCollection } from 'astro:content'

import LotusHeader from '../assets/Lotus_Header.png'
import ResourcesHeader from '../components/ResourcesHeader.astro'
import VolunteerComponent from '../components/VolunteerForm'
import PageLayout from '../layouts/PageLayout.astro'

const frontmatter = {
  title: 'Volunteer',
  description: 'Volunteer through Sakyadhita',
  image: LotusHeader
}

const volinterests = await getCollection('volinterest')
const interests = volinterests.map((interest) => ({
  ...interest,
  id: (Number.parseInt(interest.id) - 1).toString()
}))
---

<PageLayout>
  <ResourcesHeader
    title={frontmatter.title}
    text={frontmatter.description}
    image={frontmatter.image}
  />

  <VolunteerComponent client:load interests={interests}>
    <slot />
  </VolunteerComponent>

  {/* Hidden form for Netlify detection */}
  <form name="volunteer" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="mName" />
    <input type="text" name="lName" />
    <input type="tel" name="phone" />
    <input type="email" name="email" />
    <input type="text" name="address" />
    <input type="text" name="interests" />
  </form>
</PageLayout>
