---
/**
 * Introduction section of Home page.
 *
 * @summary Renders section content.
 * @author Amrit Kaur Singh
 */
import Logo from '../../media/logo.svg'
---

<div class="prose prose-lg max-w-none font-body text-gray-700 leading-relaxed">
  <h1 class="leading-none">
    Grassr<span class="not-prose inline-flex items-center gap-1 align-baseline"><img src={Logo.src} alt="" aria-hidden="true" class="inline-block h-8 w-8" /><img src={Logo.src} alt="" aria-hidden="true" class="inline-block h-8 w-8" /></span>ts
  </h1>
  <slot />
</div>
