---
/**
 * Renders the global Brand (header) for the website.
 *
 * @summary Global brand component.
 * @author Amrit Kaur Singh
 */
import { Image } from 'astro:assets'

import Logo from '../assets/logo.svg'
import { cn } from '../lib/utils'
import { SITE_PAGES } from '../SiteMetadata'

interface Props {
  location?: 'footer' | 'navbar'
}

const { location } = Astro.props
const isFooter = location === 'footer'
---

<a
  href={SITE_PAGES.HOME}
  class={cn(
    `
      inline-flex items-center text-inherit
      hover:text-inherit hover:no-underline
    `,
    isFooter
      ? `
        flex-row-reverse justify-end text-right text-white
        hover:text-white
      `
      : 'h-full max-h-full justify-start overflow-hidden text-left'
  )}
>
  <Image
    src={Logo}
    alt="Logo"
    class={cn(
      isFooter
        ? `
          h-12
          md:h-20
        `
        : `
          h-9 max-h-full w-auto object-contain
          md:h-full
        `
    )}
  />
  <div
    class={cn(
      'branding flex flex-col',
      isFooter
        ? `
          mr-2
          md:mr-2.5
        `
        : `
          ml-1
          md:ml-2.5
        `
    )}
  >
    <h3
      class={cn(
        'mb-0 font-heading lowercase',
        isFooter
          ? `
            text-xl
            md:text-4xl
          `
          : `
            text-lg
            md:text-3xl
          `
      )}
    >
      sakyadhita
    </h3>
    <span
      class={cn(
        'font-body text-lg lowercase opacity-90',
        isFooter
          ? `
            hidden
            sm:block
          `
          : `
            hidden
            md:block
          `
      )}
    >
      international association of buddhist women
    </span>
  </div>
</a>
