.Slideshow {
  overflow: hidden;
  display: block;
}

.embla__slide {
  backface-visibility: hidden;
}

.Slideshow_arrowleft {
  width: 50px;
  z-index: 2;
  cursor: pointer;
}

.Slideshow_arrowright {
  width: 50px;
  z-index: 2;
  cursor: pointer;
}

.Slideshow_arrowleft--mobile {
  width: 25px;
  z-index: 2;
  cursor: pointer;
}

.Slideshow_arrowright--mobile {
  width: 25px;
  z-index: 2;
  cursor: pointer;
}
