---
/**
 * This file creates a component for the image header for Resources Landing Page.
 *
 * @summary Creates a component for resources header
 * @author Amrit Kaur Singh, Dhanush
 */
import { getImage } from 'astro:assets'

import { getRawImage } from '../../lib/images'

interface Props {
  image?: string | ImageMetadata
  height: string
  width: string
  title: string
  text?: string
}

const { image, height, width, title, text } = Astro.props

const rawImage = typeof image === 'string' ? getRawImage(image) : image
const optimizedImage = rawImage
  ? await getImage({ src: rawImage, format: 'webp', width: 1600 })
  : null

const imageUrl = optimizedImage?.src || (typeof image === 'string' ? image : image ? image.src : '')
---

<div
  class="
    relative bg-[no-repeat,no-repeat] bg-size-[cover,contain]
    bg-position-[center,top]
  "
  style={{
    backgroundImage: imageUrl ? `url("${imageUrl}")` : 'none',
    height,
    width
  }}
>
  {/* Purple box with a title and description */}
  <div
    class="
      absolute top-1/3 left-[10%] h-auto w-2/3 -translate-y-1/2
      bg-brand-dark-purple/90 p-8 text-white
      md:top-[40%] md:left-[15%] md:w-auto md:p-10
    "
  >
    {
      title ? (
        <h1
          class="
            font-heading text-3xl/tight font-bold
            md:text-4xl
          "
        >
          {title}
        </h1>
      ) : null
    }
    {
      text ? (
        <p
          class="
            mt-4 font-body text-lg/relaxed font-normal
            md:text-xl
          "
        >
          {text}
        </p>
      ) : null
    }
  </div>
</div>
