---
import { type CollectionEntry, getCollection } from 'astro:content'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const conferences = await getCollection('conference')
  return conferences.map((conference) => ({
    params: { slug: conference.id },
    props: { conference }
  }))
}
// 2. For your template, you can get the entry directly from the prop

interface Props {
  conference: CollectionEntry<'conference'>
}
const { conference } = Astro.props

import ConferenceDesktop from '../../components/Conference/ConferenceDesktop'
import MobileConference from '../../components/Conference/MobileConference'
import PageLayout from '../../layouts/PageLayout.astro'

const conferences = await getCollection('conference')
const data = [...conferences].reverse()
---

<PageLayout>
  <div class="
    hidden
    lg:block
  ">
    <ConferenceDesktop client:only="react" data={data} id={conference.id} />
  </div>
  <div class="
    block
    lg:hidden
  ">
    <MobileConference client:only="react" data={data} id={conference.id} />
  </div>
</PageLayout>
