---
import { getImage } from 'astro:assets'
import { getCollection } from 'astro:content'
import { marked } from 'marked'

import PageLayout from './PageLayout.astro'
import ConferenceDesktop from '../components/Conference/ConferenceDesktop'
import MobileConference from '../components/Conference/MobileConference'
import { getRawImage } from '../lib/images'

const conferencesRaw = await getCollection('conference')
const conferences = await Promise.all(
  conferencesRaw.map(async (c) => {
    const htmlBody = await marked.parse(c.body || '')
    let optimizedImages = null
    if (c.data.slideShowImages) {
      optimizedImages = await Promise.all(
        c.data.slideShowImages.map(async (img) => {
          const raw = getRawImage(img)
          if (raw) {
            const opt = await getImage({ src: raw, format: 'webp', width: 1200 })
            return opt.src
          }
          return img
        })
      )
    }
    return { ...c, data: { ...c.data, optimizedImages, htmlBody } }
  })
)
const data = conferences.reverse()
---

<PageLayout>
  <div class="
    hidden
    lg:block
  ">
    <ConferenceDesktop client:idle data={data} />
  </div>
  <div class="
    block
    lg:hidden
  ">
    <MobileConference client:idle data={data} />
  </div>
</PageLayout>
