---
import { getImage } from 'astro:assets'

import PageLayout from './PageLayout.astro'
import ContactUs from '../components/Layouts/ContactUs'
import ResourcesHeader from '../components/ResourcesHeader.astro'
import { getRawImage } from '../lib/images'

const { frontmatter } = Astro.props

const rawHeader = getRawImage(frontmatter.image)
const optimizedHeader = rawHeader
  ? await getImage({ src: rawHeader, format: 'webp', width: 1600 })
  : null
---

<PageLayout>
  <div class="
    flex w-full flex-col
    lg:flex-row
  ">
    {/* Responsive Header for Mobile - Astro */}
    <div class="
      w-full
      lg:hidden
    ">
      <ResourcesHeader image={optimizedHeader?.src || frontmatter.image} title="Contact Us" />
    </div>

    {/* The Interactive Form - React Island */}
    <div class="flex-1">
      <ContactUs client:load frontmatter={frontmatter}>
        <slot />
      </ContactUs>
    </div>

    {/* The Side Image for Desktop */}
    <div
      class="
        hidden min-h-[500px] flex-1 bg-cover bg-center bg-no-repeat
        lg:block
      "
      style={{ backgroundImage: `url("${optimizedHeader?.src || frontmatter.image}")` }}
    >
    </div>
  </div>

  {/* Hidden form for Netlify detection */}
  <form name="contact" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="tel" name="phone" />
    <textarea name="message"></textarea>
  </form>
</PageLayout>
