---
import { getImage } from 'astro:assets'
import { getRawImage } from '../lib/images'

import PageLayout from './PageLayout.astro'
import ContactUs from '../components/Layouts/ContactUs'
import ResourcesHeader from '../components/ResourcesHeader.astro'

const { frontmatter } = Astro.props

const rawHeader = getRawImage(frontmatter.image)
const optimizedHeader = rawHeader
  ? await getImage({ src: rawHeader, format: 'webp', width: 1600 })
  : null
---

<PageLayout>
  <div class="w-full flex flex-col lg:flex-row">
    {/* Responsive Header for Mobile - Astro */}
    <div class="lg:hidden w-full">
      <ResourcesHeader image={optimizedHeader?.src || frontmatter.image} title="Contact Us" />
    </div>

    {/* The Interactive Form - React Island */}
    <div class="flex-1">
      <ContactUs client:load frontmatter={frontmatter}>
        <slot />
      </ContactUs>
    </div>

    {/* The Side Image for Desktop */}
    <div
      class="hidden lg:block flex-1 min-h-[500px] bg-cover bg-center bg-no-repeat"
      style={{ backgroundImage: `url("${optimizedHeader?.src || frontmatter.image}")` }}
    >
    </div>
  </div>

  {/* Hidden form for Netlify detection */}
  <form name="contact" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="tel" name="phone" />
    <textarea name="message"></textarea>
  </form>
</PageLayout>
