---
import { getCollection } from 'astro:content'

import PageLayout from './PageLayout.astro'
import JoinUs from '../components/Layouts/JoinUs'

const membertypes = await getCollection('membertype')
const memberships = membertypes.map((m) => m.data)

const { frontmatter } = Astro.props
---

<PageLayout>
  <JoinUs client:only="react"
    frontmatter={frontmatter}
    memberships={memberships}
  >
    <slot />
  </JoinUs>
  <form name="membership" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="mName" />
    <input type="text" name="lName" />
    <input type="tel" name="phone" />
    <input type="email" name="email" />
    <input type="text" name="address" />
  </form>
</PageLayout>
