---
import { getCollection } from 'astro:content'
import { getImage } from 'astro:assets'
import { getRawImage } from '../lib/images'

import PageLayout from './PageLayout.astro'
import ResourcesHeader from '../components/ResourcesHeader.astro'
import JoinUs from '../components/Layouts/JoinUs'

const membertypes = await getCollection('membertype')
const memberships = membertypes.map((m) => ({
  id: String(m.data.id),
  title: m.data.title,
  cost: String(m.data.cost || '0')
}))

const { frontmatter } = Astro.props
const rawHeader = getRawImage(frontmatter.image)
const optimizedHeader = rawHeader
  ? await getImage({ src: rawHeader, format: 'webp', width: 1600 })
  : null
---

<PageLayout>
  <ResourcesHeader
    title={frontmatter.title}
    text={frontmatter.description}
    image={optimizedHeader?.src || frontmatter.image}
  />

  <JoinUs client:load frontmatter={frontmatter} memberships={memberships}>
    <slot />
  </JoinUs>

  {/* Hidden forms for Netlify detection */}
  <form name="membership" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="mName" />
    <input type="text" name="lName" />
    <input type="tel" name="phone" />
    <input type="email" name="email" />
    <input type="text" name="address" />
  </form>
  <form name="paidmembership" data-netlify="true" netlify-honeypot="bot-field" hidden>
    <input type="text" name="fName" />
    <input type="text" name="lName" />
    <input type="email" name="email" />
    <input type="tel" name="phone" />
    <input type="text" name="mName" />
    <input type="text" name="address" />
    <input type="text" name="isNewMember" />
    <input type="text" name="affiliatedOrgs" />
    <input type="text" name="membershipType" />
    <input type="number" name="totalPaid" />
    <input type="text" name="payPalTransactionId" />
  </form>
</PageLayout>
