---
import '../css/index.css'

import { Font } from 'astro:assets'

import Footer from '../components/Main/Footer.astro'
import NavBar from '../components/Main/NavBar/NavBar.astro'

interface Props {
  hideFooter?: boolean
}

const { hideFooter = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-heading" preload />
    <Font cssVariable="--font-body" preload />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}apple-touch-icon.png`} />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}manifest.json`} />
    <title>Sakyadhita International Association of Buddhist Women</title>
  </head>

  <body class="flex min-h-screen flex-col">
    <div id="page-layout" class="flex flex-1 flex-col">
      <NavBar />
      <main class="flex-1">
        <slot />
      </main>
      {hideFooter ? null : <Footer />}
    </div>

    <!-- For netlify forms -->
    <form name="contact" data-netlify="true" netlify-honeypot="bot-field" hidden>
      <input type="text" name="name" />
      <input type="email" name="email" />
      <input type="tel" name="phone" />
      <textarea name="message"></textarea>
    </form>

    <iframe
      src="https://consent.trustarc.com/?domain=sakyadhita.org&c=tecm&js=nj&type=tecm&mrid=d8d38cd8-942b-240340173b4b&propertyId=T2D7QGF6MF9B2-1&flow=visitor-info&variant=analytics&mrid=T2D7QGF6MF9B2&isMobileEnabled=true&isDesktopEnabled=true&shouldCheckCountry=true&mobileVariant=analytics&mobileFlow=visitor-info&disableSetCookie=true"
      data-merchant="T2D7QGF6MF9B2-1"
      style="z-index: 2147483647; display: none;"></iframe>
  </body>
</html>
