---
import PageLayout from './PageLayout.astro'
import ResourcesNavBar from '../components/Main/ResourcesNavBar.astro'
import ResourcesHeader from '../components/ResourcesLanding/ResourcesLandingPageHeader.astro'

const { frontmatter } = Astro.props
---

<PageLayout hideFooter={true}>
  <ResourcesNavBar>
    <div class="w-full">
      <ResourcesHeader
        image={frontmatter.image}
        title={frontmatter.title}
        text={frontmatter.description}
        height="calc(100vh - 128px)"
        width="100%"
      />
    </div>
    <slot />
  </ResourcesNavBar>
</PageLayout>
